<div class="card bg-base-100 shadow-md border border-base-300">
  <div class="card-body pb-3">
    <div class="flex items-center gap-3">
      <div class="avatar">
        <div class="relative w-10 h-10 rounded-full overflow-hidden">
            <img [ngSrc]="authorPfpUrl" fill class="object-cover" priority="true"/>
        </div>
      </div>
      <div class="flex-1">
        <div class="font-semibold leading-tight">{{ authorUserName }}</div>
        <div class="text-xs opacity-70">{{ meme.creationDate | date:'short' }}</div>
      </div>
      @if (isUserMemeOwner()) {
        <div class="dropdown">
          <div tabindex="0" role="button" class=" btn btn-ghost m-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-ellipsis-vertical-icon lucide-ellipsis-vertical"><circle cx="12" cy="12" r="1"/><circle cx="12" cy="5" r="1"/><circle cx="12" cy="19" r="1"/></svg>
          </div>
          <ul tabindex="-1" class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
            <li><button (click)="openEditModal()">Update the caption.</button></li>
            <li><button (click)="openDeleteModal()">Delete this meme.</button></li>
          </ul>
        </div>
      }
    </div>
  </div>

  <div class="px-4 pb-4">
    <div class="relative w-full overflow-hidden rounded-xl bg-base-200" style="aspect-ratio: 1 / 1;">
      <img [ngSrc]="memeImageUrl" fill class="object-contain" priority="true" />
    </div>
  </div>

  @if (meme.caption) {
    <div class="px-4 pb-3">
      <p class="text-base text-base-content leading-relaxed wrap-break-word line-clamp-3">
        {{ meme.caption | slice:0:120 }}
        @if (meme.caption.length > 120) {
          <span class="text-primary cursor-pointer">...more</span>
        }
      </p>
    </div>
  }
  <div class="card-body pt-0">
    <div class="flex items-center gap-2">
      <button data-testid="upvote-button" class="btn btn-ghost btn-sm text-base-content/70 hover:text-rose-500 transition-colors" [class.text-rose-500]="currentVote() === 'upvote'" [attr.aria-pressed]="currentVote() === 'upvote'" [disabled]="isVoting()" (click)="handleVote('upvote')" >
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-heart-icon lucide-heart"><path d="M2 9.5a5.5 5.5 0 0 1 9.591-3.676.56.56 0 0 0 .818 0A5.49 5.49 0 0 1 22 9.5c0 2.29-1.5 4-3 5.5l-5.492 5.313a2 2 0 0 1-3 .019L5 15c-1.5-1.5-3-3.2-3-5.5"/></svg>
        <span data-testid="upvote-count" class="ml-1">{{ meme.upvotes }}</span>
      </button>
      <button data-testid="downvote-button" class="btn btn-ghost btn-sm text-base-content/70 hover:text-blue-500 transition-colors" [class.text-blue-500]="currentVote() === 'downvote'" [disabled]="isVoting()" (click)="handleVote('downvote')" >
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-heart-off-icon lucide-heart-off"><path d="M10.5 4.893a5.5 5.5 0 0 1 1.091.931.56.56 0 0 0 .818 0A5.49 5.49 0 0 1 22 9.5c0 1.872-1.002 3.356-2.187 4.655"/><path d="m16.967 16.967-3.459 3.346a2 2 0 0 1-3 .019L5 15c-1.5-1.5-3-3.2-3-5.5a5.5 5.5 0 0 1 2.747-4.761"/><path d="m2 2 20 20"/></svg>
        <span class="ml-1">{{ meme.downvotes }}</span>
      </button>
      <button data-testid="comments-button" class="btn btn-ghost btn-sm text-base-content/70 hover:text-emerald-500 transition-colors" (click)="openCommentsModal()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-message-circle-icon lucide-message-circle"><path d="M2.992 16.342a2 2 0 0 1 .094 1.167l-1.065 3.29a1 1 0 0 0 1.236 1.168l3.413-.998a2 2 0 0 1 1.099.092 10 10 0 1 0-4.777-4.719"/></svg>
        <span data-testid="comments-count" class="ml-1">{{ meme.commentsCount }}</span>
      </button>
    </div>

    @if (meme.Tags?.length) {
      <div class="flex flex-wrap gap-2 pt-2">
        @for (t of meme.Tags; track t.content) {
          <span class="badge badge-outline">#{{ t.content}}</span>
        }
      </div>
    }
  </div>
</div>

@if (isEditModalOpen()) {
  <app-update-meme-modal
    [caption]="meme.caption ?? ''"
    [isSaving]="isSavingCaption()"
    (close)="closeEditModal()"
    (save)="handleCaptionSave($event)"
  />
}

@if (isDeleteModalOpen()) {
  <app-delete-meme-modal
    [isDeleting]="isDeleting()"
    (close)="closeDeleteModal()"
    (confirm)="handleDeleteConfirm()"
  />
}

@if (isCommentsModalOpen()) {
  <app-comments-modal
    [memeId]="meme.memeId"
    (close)="closeCommentsModal()"
    (commentsCountChanged)="handleCommentsCountChanged($event)"
  />
}